export ASSEMBLY="/path/to/assembly.fasta"

export HIC_FQ_1="/path/to/forward_reads"
export HIC_FQ_2="/path/to/reverse_reads"

export OUT_DIR="/path/to/arima_pipeline/assembly_test"

export TMPDIR="/scratch/ddepanis/tmp"

export USER_MAIL=
export PARTITION=
export QUEUE=
