# arima pipeline variables
export ASSEMBLY="/path/to/assembly.fasta"
export HIC_FQ_1="/path/to/forward_reads"
export HIC_FQ_2="/path/to/reverse_reads"
export OUT_DIR="/path/to/arima_pipeline/out_dir"
export TMPDIR="/path/to/tmp_dir"

# slurm-specific variables
export USER_MAIL='user@mail.de'
export PARTITION='begendiv,main'
export QUEUE="standard"

# conda-specific variables
export CONDA_BIN_DIR="/path/to/conda/bin"
export PICARD_JAR="/path/to/conda/envs/ARIMA_env/share/picard-2.26.10-0/picard.jar"
export SAMTOOLS_BIN="/path/to/conda/envs/ARIMA_env/bin/samtools"

# arima tools dir
export ARIMA_TOOLS_DIR="/path/to/VGP_Asian_elephant/arima_tools"
