export BIONANO_FILES_DIR="/path/to/VGP_Asian_elephant/bionano_files"
export OUT_DIR="/path/to/bionano_out_dir"
export ASSEMBLY="/path/to/assembly_file"
#export ASSEMBLY_NAME=$(basename $ASSEMBLY .${ASSEMBLY##*.})
export ASSEMBLY_NAME="your_asm_name"
export CMAP_FILE="/path/to/cmap_file"


# slurm-specific variables
export USER_MAIL='user@mail.de'
export PARTITION='begendiv,main'
export QUEUE="standard"
export CPUS=48
export MEM=960G
export MAX_TIME=5-00:00:00
