## Variables for the repeats annotation and masking pipeline:

export INSTALLATION_DIR="../VGP_Asian_elephant/extras"
export OUT_DIR="../Elephant_project/mEleMax1/repeat"
export ASSEMBLY="../Elephant_project/mEleMax1/intermediates/bionano/l2/l2_s1.fa"
export SPECIES_NAME='Elephas maximus'

# singularity-specific variables
export BIND_DIR="~/"

# slurm-specific variables
export USER_MAIL='user@mail.de'
export PARTITION='begendiv,main'
export QUEUE="standard"
